In [50]:
import os
import subprocess
import Bio
from Bio import SeqIO 
from Bio import AlignIO
from Bio.Align import MultipleSeqAlignment
import glob
from Bio import SeqRecord
import pandas as pd
import genomicranges as gr
from Bio.Seq import Seq
import pyranges as pr
from Bio import AlignIO, SeqIO

In [51]:
g = []
gc = []
speci = []

genes = ['DDX3X', 'EIF1AX', 'KDM6A', 'RPS4X', 'ZFX', 'USP9X', 'KDM5C']

for gene in genes: 
    print(gene)
    records = SeqIO.read(myPath + "/sequences/chicken/" + 'chicken_' + gene,  "fasta")
    human_seq = str(records.seq)
            
    h_gc = ((human_seq.count('G') + human_seq.count('C')) / (human_seq.count('G') + human_seq.count('C') + human_seq.count('A') + human_seq.count('T'))) *100
            
    gc.append(h_gc)
    g.append(gene)
    speci.append('chicken')

DDX3X
EIF1AX
KDM6A
RPS4X
ZFX
USP9X
KDM5C

In [52]:
df = pd.DataFrame((list(zip(g,gc,speci))), columns = ['gene', 'gc', 'species'])

In [53]:
df

     gene         gc  species
0   DDX3X  69.061876  chicken
1  EIF1AX  70.459082  chicken
2   KDM6A  74.650699  chicken
3   RPS4X  76.047904  chicken
4     ZFX  80.838323  chicken
5   USP9X  79.640719  chicken
6   KDM5C  71.856287  chicken

In [54]:
df.to_csv(myPath, '/tables/chicken_gc.txt', index=False)